# 隐藏文件
.*

# 文件编辑器的自动备份文件
*~

# eclipse 自动生成的文件
Debug*

# 编译生成的文件
*.lo
*.la
*.o
*.class
utility/client/global/GlobalView
utility/client/java/lib/clientApi.jar
utility/client/java/lib/medusaXmlRpc.jar
utility/client/java/src/classjava.stamp	
utility/client/java/src/subscribe
tool/client/enqueue
tool/client/enqueueUnion
tool/client/enqueueUnion
tool/client/dequeue
tool/client/dequeueMap
tool/client/dequeueJoin
tool/client/dequeueFilter
tool/client/dequeueAggregate
tool/padmin/padmin
src/src/conger

# autotools 生成的文件
Makefile.in
tool/marshal/marshal
tool/head/BigGiantHead
src/src/monitor
src/src/borealis
*/aclocal.m4
*/autom4te.cache*
*/config/*
*/config/
*/config.h
*/config.h.in
*/config.log
*/config.status
*/configure
*/Makefile
Makefile
*/Makefile.in
*/libtool
*/stamp-h1
utility/client/aclocal.m4
utility/client/autom4te.cache/
utility/client/config.h
utility/client/config.h.in
utility/client/config.log
utility/client/config.status
utility/client/config/
utility/client/configure
utility/client/java/src/classjava.stamp
utility/client/libtool
utility/client/stamp-h1

# NMSTL rpc 自动生成的文件
rpc_*.h
src/modules/queryProcessor/UpdateServer.cc

# antlr 生成的文件
Expr*pp
src/modules/queryProcessor/expr/ExprParserTokenTypes.txt
src/modules/cql/output/

# 自动生成的文件及可执行文件 
test/simple/Aggregate_TestMarshal.cc
test/simple/Aggregate_TestMarshal.h
test/simple/Aurorajoin_TestMarshal.cc
test/simple/Aurorajoin_TestMarshal.h
test/simple/Cp2TestMarshal.cc
test/simple/Cp2TestMarshal.h
test/simple/CptestMarshal.cc
test/simple/CptestMarshal.h
test/simple/Join_TestMarshal.cc
test/simple/Join_TestMarshal.h
test/simple/Joinstatic_TestMarshal.cc
test/simple/Joinstatic_TestMarshal.h
test/simple/Marshal.cc
test/simple/Marshal.h
test/simple/Movebox_TestMarshal.cc
test/simple/Movebox_TestMarshal.h
test/simple/Table_TestMarshal.cc
test/simple/Table_TestMarshal.h
test/simple/Update_Queue1Marshal.cc
test/simple/Update_Queue1Marshal.h
test/simple/Update_Queue2Marshal.cc
test/simple/Update_Queue2Marshal.h
test/simple/Update_QueueMarshal.cc
test/simple/Update_QueueMarshal.h
test/simple/aggregate_test
test/simple/aurorajoin_test
test/simple/borealis-127.0.0.1:15000.log
test/simple/cp2test
test/simple/cptest
test/simple/join_test
test/simple/joinstatic_test
test/simple/movebox_test
test/simple/mytest.log
test/simple/mytestdist
test/simple/mytestout.log
test/simple/table_test
test/simple/update_queue
test/simple/update_queue1
test/simple/update_queue2
test/simple/mytest
tool/client/enqueueAndDequeue
tool/loadGenerator/simple/InputGenerator
tool/loadGenerator/simple/NetworkTrafficQueryGen
tool/loadGenerator/simple/OutputReceiver
tool/loadGenerator/simple/test
tool/loadGenerator/simple/xmlgen
tool/loadGenerator/wlgen/workloadGenerator
tool/monitor/lib/monitor.jar
tool/monitor/src/classjava.stamp
tool/optimizer/loadManager/LoadManager
tool/optimizer/loadManager/test
tool/statsView/lib/
tool/statsView/src/classjava.stamp

src/modules/queryProcessor/libantlr3c.so



